@charset "utf-8";
/* CSS Document */
.div_list, .div_list_check, .div_list_key, .div_list_digest, .div_list_value, .div_list_submit, .div_list_clear, .div_list_delete, .div_list_media_id, .div_list_type, .div_list_title, .div_list_introduction {
	width: 100%;
	float: left;
	border:1px dashed #000;
	background-color:#fff;
	white-space : nowrap;
	overflow:hidden; 
}

.div_list_check {
	width: 5%;
}

.div_list_key {
	width: 10%;
}

.div_list_value {
	width: 50%;
}

.div_list_submit {
	width: 5%;
}

.div_list_clear {
	width: 5%;
}

.div_list_delete {
	width: 5%;
}

.div_list_media_id{
	width: 10%;
}

.div_list_type{
	width: 5%;
}
.div_list_title{
	width:20%;
}
.div_list_introduction{
	width: 40%
}
.div_list_digest{
	width: 10%
}