@charset "utf-8";
/* CSS Document */
.div_list, .div_list_check, .div_list_key, .div_list_digest, .div_list_value, .div_list_submit, .div_list_clear, .div_list_push, .div_list_delete, .div_list_media_id, .div_list_type, .div_list_title, .div_list_introduction {
	width: 90%;
	float: left;
	border:1px dashed #000;
	background-color:#fff;
	white-space : nowrap;
	overflow:hidden; 
}
.div_list_check {
	width: 5%;
}

.div_list_key {
	width: 10%;
}

.div_list_value {
	width: 50%;
}

.div_list_submit {
	width: 5%;
}

.div_list_clear {
	width: 5%;
}

.div_list_delete {
	width: 5%;
}
.div_list_push {
	width: 5%;
}

.div_list_media_id{
	width: 10%;
}

.div_list_type{
	width: 5%;
}
.div_list_title{
	width:20%;
}
.div_list_introduction{
	width: 35%
}
.div_list_digest{
	width: 10%
}

.div_news_title {
	width: 100%;
	height: 45px;
	font-size: 36px;
	text-align: center;
	padding-top: 5px;
}
.div_news_author {
	width: 100%;
	height: 20px;
	font-size: 24px;
	padding-left: 30px;
}
.div_news_autopay {
	width: 100%;
	height: 20px;
	font-size: 24px;
	padding-left: 30px;
}
.div_news_content {
	width: 95%;
	font-size: 30px;
	padding:30px 30px 30px 30px;
}
.div_content_block {
	float: left;
	min-width: 800px;
	width: 95%;
	height: auto;
}
.div_content_value {
	min-width: 550px;
	text-align:left;
	float: left;
	width: auto;
}
.div_content_key {
	float: left;
	text-align:right;
	width: 200px;
}
.div_we_list_content {
	text-align:center;
	width: 100%;
	padding-top:30px;
	padding-bottom:30px;
}
hr{
	width: 95%;
}
.n_context_list{
	padding-top:50px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
}
/*浮动*/
.n_float_layer{
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: fixed;
	top: 0px;
	button: 0px;
	left: 0px;
	background-color: hsla(0,0%,0%,0.5);
	display: none;
	overflow-y:scroll;
}
/*图文*/
.n_float_news_layer{
	width: 100%;
	height: 100%;
	z-index: 1001;
	position: fixed;
	top: 0px;
	left: 0px;
	button: 0px;
	overflow-y:scroll;
	background-color: hsla(0,0%,0%,0.5);
	display: none;
}
.n_float_news{
	text-align:center;
	margin:0 auto;
	width: 850px;
	bottom:0 px;
	top: 0px;
	height: 100%;
	min-height: 700px;
	background-color:#fff;
	overflow-y:auto;
}
.n_float_news_image{
	text-align:center;
	margin:0 auto;
	bottom:0 px;
	left: 0px;
	top: 0px;
	width: 850px;
	background-color:#fff;
	height: auto;
	min-height: 700px;
	overflow-y:auto;
}
.n_float_news_type{
	text-align:center;
	margin:0 auto;
	width: 600px;
	height: 180px;
	background-color:#fff;
}
.n_float_news_book{
	text-align:center;
	margin:0 auto;
	width: 850px;
	height: 450px;
	background-color:#fff;
}
.n_news_element{
	background-color: hsla(0,0%,100%,0.5);
	box-shadow:5px 2px 6px #000;
	width: 300px;
	height: 300px;
	float: left;
	margin-top:10px;
	margin-left:10px;
}
.n_news_name{
	text-align:center;
	margin:0 auto;
	width: 300px;
	height: 20px;
}
.n_news_media{
	text-align:center;
	margin:0 auto;
	width: 120px;
	height: 20px;
	float: right;
}
.n_news_delete{
	text-align:center;
	margin:0 auto;
	width: 50px;
	height: 20px;
	float: right;
}
.n_news_push{
	text-align:center;
	margin:0 auto;
	width: 50px;
	height: 20px;
	float: right;
}
.n_news_edit{
	text-align:center;
	margin:0 auto;
	width: 50px;
	height: 20px;
	float: right;
}
.n_news_type{
	text-align:center;
	margin:0 auto;
	width: 280px;
	height: 20px;
	float: right;
}
.n_news_context{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 300px;
	height: 200px;
}
.n_news_img{
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 195px;
}
/*视频*/
.n_float_video{
	text-align:center;
	margin:0 auto;
	width: 850px;
	height: 450px;
	background-color:#fff;
}
.n_video_element{
	background-color: hsla(0,0%,100%,0.5);
	box-shadow:5px 2px 6px #000;
	width: 300px;
	height: 300px;
	float: left;
}
.n_video_name{
	text-align:center;
	margin:0 auto;
	width: 300px;
	height: 20px;
}
.n_video_context{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 300px;
	height: 260px;
}
.n_video_media{
	text-align:center;
	margin:0 auto;
	width: 200px;
	height: 20px;
	float: right;
}
.n_video_delete{
	text-align:center;
	margin:0 auto;
	width: 80px;
	height: 20px;
	float: right;
}
.n_video_video{
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 255px;
}
/*音频*/
.n_voice_element{
	background-color: hsl(0,0%,100%,0.5);
	box-shadow:5px 2px 6px #000;
	width: 150px;
	height: 80px;
	float: left;
}
.n_voice_name{
	text-align:center;
	margin:0 auto;
	width: 150px;
	height: 20px;
}
.n_voice_context{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 150px;
	height: 40px;
}
.n_voice_media{
	text-align:center;
	margin:0 auto;
	width: 90px;
	height: 20px;
	float: right;
}
.n_voice_delete{
	text-align:center;
	margin:0 auto;
	width: 50px;
	height: 20px;
	float: right;
}
/*图片、缩略图、图文内图片*/
.n_image_element{
	background-color: hsl(0,0%,100%,0.5);
	box-shadow:5px 2px 6px #000;
	width: 220px;
	height: 220px;
	float: left;
}
.n_image_name{
	text-align:center;
	margin:0 auto;
	width: 220px;
	height: 20px;
}
.n_image_context{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	margin:0 auto;
	width: 220px;
	height: 180px;
}
.n_image_img{
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 175px;	
}
.n_image_media{
	text-align:center;
	margin:0 auto;
	width: 100px;
	height: 20px;
	float: right;
}
.n_image_delete{
	text-align:center;
	margin:0 auto;
	width: 100px;
	height: 20px;
	float: right;
}
/*页签控制*/
.aselect{
	text-decoration: underline
}
.aunselect{
	text-decoration: none
}