@charset "utf-8";
/* CSS Document */
.div_list, .div_list_check, .div_list_key, .div_list_digest, .div_list_value, .div_list_submit, .div_list_clear, .div_list_push, .div_list_delete, .div_list_media_id, .div_list_type, .div_list_title, .div_list_introduction {
	width: 90%;
	float: left;
	border:1px dashed #000;
	background-color:#fff;
	white-space : nowrap;
	overflow:hidden; 
}
.div_list_check {
	width: 5%;
}

.div_list_key {
	width: 10%;
}

.div_list_value {
	width: 50%;
}

.div_list_submit {
	width: 5%;
}

.div_list_clear {
	width: 5%;
}

.div_list_delete {
	width: 5%;
}
.div_list_push {
	width: 5%;
}

.div_list_media_id{
	width: 10%;
}

.div_list_type{
	width: 5%;
}
.div_list_title{
	width:20%;
}
.div_list_introduction{
	width: 35%
}
.div_list_digest{
	width: 10%
}

.div_news_title {
	width: 100%;
	height: 45px;
	font-size: 36px;
	text-align: center;
	padding-top: 5px;
}
.div_news_author {
	width: 100%;
	height: 20px;
	font-size: 24px;
	padding-left: 30px;
}
.div_news_content {
	width: 95%;
	font-size: 30px;
	padding:30px 30px 30px 30px;
}
.div_content_block {
	float: left;
	min-width: 800px;
	width: 95%;
	height: auto;
}
.div_content_value {
	min-width: 580px;
	float: left;
	width: auto;
}
.div_content_key {
	float: left;
	width: 200px;
}
div{
	float: left;
}
.div_we_list_content {
	text-align:center;
	width: 100%;
	padding-top:30px;
	padding-bottom:30px;
}
hr{
	width: 95%;
}